---
layout: default
---
<H1>Blog2 Posts</H1>
<div class="posts">
  {% for post in site.posts %}
  	{% if post.path contains 'blog2' %}
	    <article class="post">

	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

	      <div class="entry">
	        {{ post.excerpt }}
	      </div>

	      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	    </article>
	{% endif %}    
  {% endfor %}
</div>

<H1>All Blog Posts</H1>
  <div class="tags-expo-section">
    {% for post in site.categories.blog %}
	    <article class="post">

	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

	      <div class="entry">
	        {{ post.excerpt }}
	      </div>

	      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	    </article>
    {% endfor %}
  </div>
